<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <title>Login</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Security Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>            
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/loginn">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1>Please Login</h1>
    <br>
    <form action="/loginn" method="post">
        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}" class="form-control mb-2">
        <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}" class="form-control mb-2">
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
</div>
<div class="container mb-3 text-right">
<br>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</body>

</div>

<div class="container fixed-bottom mb-3 text-right">
    <span class="text-secondary"><span class="text-primary">Security Project</span> - JL-Sec v1.0</span>
</div>

<script src="../static/bootstrap.min.js"></script>

</body>
</html>
